﻿<div class="col-lg-3 container">
    <form role="form" id="edit_form_template" name="addPlace" class="form edit" ng-show="showAddPlaceForm" ng-submit="saveForm(place)">
        Name of location
        <input type="text" name="place_name" class="form-control" placeholder="Location Name" ng-model="place.name" autofocus>
        <input type="number" name="zip_code" class="form-control" placeholder="Zip Code" ng-model="place.zipCode" />
        <input type="submit" value="Save" class="btn btn-sm btn-success">
        <button type="button" class="btn btn-sm btn-default cancel" ng-click="cancelForm(place)" ng-model="place">Cancel</button>
    </form>
</div>