﻿<form role="form" id="edit_form_template" class="form-inline edit">
    <input type="text" name="place_name" class="form-control">
    <input type="submit" value="Save" class="btn btn-sm btn-success">
    <button type="button" class="btn btn-sm btn-default cancel">Cancel</button>
</form>