﻿<!DOCTYPE html>
<html ng-app="favPlaces">
<head>
    <meta charset="utf-8">
    <title>FavoritePlaces</title>
    <base href="/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css">
    <link rel="stylesheet" href="MyContent/FavoritePlacesStyle.css" charset="utf-8">
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
</head>
<body>
    <div ng-controller="PlacesController">
        <div class="container">
            <h1>Favorite Places</h1>

        </div>
        <div class="form-group">
            <div class="">
                <div class="">
                    <form role="form" id="new_place_form" class="form-group">
                        <label>
                            <input type="submit" value="Add a Location" class="btn btn-primary btn-sm" ng-click="AddLocation()">
                        </label>
                    </form>
                </div>
                <ol class="">
                    <li ng-repeat="place in places" class="" ng-cloak>
                        <h3>
                            <a href="#myModal" data-target="#myModal" data-toggle="modal" id="MainNavHelp" ng-click="showMap(place)">
                                {{ place.name }}
                            </a>
                        </h3>
                    </li>
                </ol>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12"></div>
            <div class="col-xs-12"></div>
        </div>
        <div class="col-lg-3 container" ng-show="showAddPlaceForm" ng-cloak>
            <form role="form" id="edit_form_template" name="addPlace" class="form edit" ng-submit="saveForm(place)">
                Enter your location:
                <input type="text" name="place_name" class="form-control" value="" placeholder="Location Name" ng-model="place.name" required>
                <input type="number" name="zip_code" class="form-control" value="" placeholder="Zip Code" ng-minlength="5" ng-maxlength="5" ng-model="place.zipCode" required/>
                <div role="alert">
                    <span class="error" ng-show="addPlace.zip_code.$error.minlength || addPlace.zip_code.$error.maxlength ">
                        Please enter a 5 digit zip code.
                    </span>
                </div>
                <textarea rows="3" name="description" class="form-control" style="resize:none" placeholder="Please enter a description." ng-model="place.description"></textarea>
                <input type="submit" value="Save" class="btn btn-sm btn-success">
                <button type="button" class="btn btn-sm btn-danger cancel" ng-click="cancelForm(place)" ng-model="place">Cancel</button>
            </form>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6">
                    <div ngMap></div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal modal-md fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" ng-model="place">{{ currentPlace.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6">
                                    <iframe frameborder="0" style="border:2px"
                                            ng-src="{{ url | trusted }}" allowfullscreen></iframe>
                                </div>
                                <div class="col-xs-6">
                                    {{ currentPlace.description }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" value="Delete" class="btn btn-danger btn-default" data-dismiss="modal" ng-click="deleteLocation(currentPlace)">
                        <button type="button" class="btn btn-default btn-primary    " data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="app.js"></script>
    <script src="App/favoritePlaces.js"></script>
    <script src="App/services.js"></script>
    <script src="App/controllers.js"></script>
</body>
</html>