﻿<ol class="list-group">
    <li ng-repeat="place in places">
        <a data-target="#myModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#myModal"><span ng-bind="place"></span></a>
    </li>
</ol>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Map to your location</h4>
            </div>
            <div class="modal-body">
                <iframe width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCZ_ZZWJ6ZcidQODLuhSmzPYgJgKUtjxRY
    &q=Space+Needle,Seattle+WA" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<p></p>
<form role="form" id="new_place_form" class="form-group">
    <label>
        <input type="submit" value="Add a Location" class="btn btn-primary btn-sm" ng-click="AddLocation()">
    </label>
</form>
