﻿btn-grp {
    position: absolute;
    top: 4px;
    right: 8px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
    font-size:large
}

#myModal .modal-dialog  {width:75%;}

iframe {
    position: relative;
    top: 0; 
    left: 0;
    width: 100%;
    height: 480px;
}
.descript-area {
    

}